---
import TailwindIcon from "./icons/Tailwind.astro";
import NextJsIcon from "./icons/NextJs.astro";
import CSSIcon from "./icons/Css.astro";
import TypeScriptIcon from "./icons/TypeScript.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import GithubIcon from "./icons/Github.astro";
import LinkIcon from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import FigmaIcon from "./icons/Figma.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJsIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  CSS3: {
    name: "CSS3",
    class: "bg-[#003159] text-white",
    icon: CSSIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: TypeScriptIcon,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
};

const PROJECTS = [
  {
    title: "Writings from developers",
    description:
      "Una p치gina creada en Astro sin el uso Tailwind ni librerias o frameworks adicionales, solo utilizando CSS3 y TypeScript. Esta basado en un dise침o encontrado en Figma. El dise침o no poseia una version movil por lo cual se ha creado una",
    link: "https://writings-dev-practice.vercel.app/",
    github: "https://github.com/ljllanosl/writings-dev-practice",
    figma: "https://www.figma.com/design/nh0V05z3NB87ue9v5PcO3R/writings.dev",
    image: "./webpage.webp",
    tags: [TAGS.ASTRO, TAGS.TYPESCRIPT, TAGS.CSS3],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags, link, github,figma }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img
            alt={title}
            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
            loading="lazy"
            src={image}
          />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-100">{title}</h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <div class="mt-2 text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-4 flex-wrap">
            {github && (
              <LinkButton href={github}>
                <GithubIcon class="size-6" />
                Code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <LinkIcon class="size-4" />
                Preview
              </LinkButton>
            )}
            {figma && (
              <LinkButton href={figma}>
                <FigmaIcon class="size-4" />
                Dise침o
              </LinkButton>
            )}
          </footer>
        </div>
      </div>
    </article>
  ))
}
